*.bin binary linguist-generated=true
*.proof binary linguist-generated=true
test_data/**/*.zip binary linguist-generated=true
crates/leaf_prover/tests/data/expected_output.json binary linguist-generated=true
crates/stwo_run_and_prove_recursive_tree/test_data/goldens/four_leaves/leaf.json binary linguist-generated=true
